.App {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 40px 24px;
}

.searchform{
  margin-top: 23px;
}
.searchform_input{
  padding: 6px 4px;
/* background-color: brown; */
border-color: rgb(110, 160, 95);
border-radius: 20px 
}
.searchform_search{
  margin-left: 7px;
  padding: 6px 4px;
  background-color: rgba(59, 122, 194, 0.541);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 13px;
}
.searchform_search:hover{
  background-color: black;
  color: beige;
  border-radius: 4px;
}
.recipeTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.recipeTile__img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin: 23px;
}

.recipeTile__name {
  max-width: 200px;
  text-align: center;
  margin: 12px 0px;
}
.app__recipes {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 220px 220px;
  align-items: baseline;
}
.app_healthLabels{
  padding: 5px 9px;
  margin-left: 12px;
  border-radius: 7px;
}